.ui.inverted.yellow.fitted.segment.full-height#home
  .ui.container
    .ui.two.column.very.relaxed.stackable.grid
      .row
        .column
          %h1
            Chin
          %h1
            Chin!
        .column#home-invite
          %p
            You’re invited to the wedding of
            %br
            Tom Wilshere and Sarah Tue-Fee. 
          %p
            Please let us know if you will be attending before
            %strong May 1st 2022.
      .row{style: "padding: 0;"}
        .column
        .column
          = link_to 'RSVP', '#rsvp', class: 'ui grey button sco', data: { turbolinks: false }
  = image_tag 'chins', id: 'chins', class: 'ui bottom-aligned image'
.ui.white.very.padded.segment.full-height#plan
  .ui.container
    %h1 Here's the plan
    .ui.two.column.stackable.grid
      .column
        %h2 Schedule
        %p
        
          12:00 - Guests arrive
          %br 
          13:00 - Ceremony
          %br 
          13:30 - Drinks reception + canapés
          %br 
          14:00 - Wedding breakfast
          %br 
          18:45 - Tea + coffee
          %br 
          19:45 - First dance
          %br 
          22:00 - Evening food + sparklers
          %br 
          00:00 - Carriages

      .column
        %h2 Venue
        .gmap_canvas
          %iframe#gmap_canvas{frameborder: "0", height: "350px", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?q=the%20frogmill%20inn&t=&z=11&ie=UTF8&iwloc=&output=embed", width: "100%"}

.ui.yellow.inverted.very.padded.segment.full-height#gifts{ style: "background-image: url(#{asset_url('gifts.png')});" }
  .ui.container
    .ui.two.column.stackable.grid
      .column
        %h1 You shouldn't have!
        %span
          %p
            But you probably will.
          %p
            Our gift list is coming soon!
            %br
            Check back here in May 2022
          -# %p
          -#   But you probably will. So you can view our wish list via
          -#   = link_to 'this link', 'https://google.com'
          -# %p
          -#   We are also happily accepting monetary gifts to go towards our honeymoon fund which can be given in person or via bank transfer or this paypal link

.ui.white.very.padded.segment.full-height#info
  .ui.container
    %h1 Info
    .ui.two.column.stackable.grid
      .column
        %h2 Accommodation
        %p
          Guests can book one of the beautiful rooms at the
          = link_to 'Frogmill Inn', 'https://direct-book.com/frog-mill-shipton/properties/thefrogmilhoteldirect?locale=en&checkInDate=2022-08-13&check_in_date_view=13%20Aug%202022&checkOutDate=2022-08-14&check_out_date_view=14%20Aug%202022&commit=%EF%84%B8%20Check%20Availability&from_widget=true&utf8=%E2%9C%93&items[0][adults]=2&items[0][children]=0&items[0][infants]=0&currency=GBP&promocode=TueFeeandWilshere', target: '_blank'
          at a preferred rate.
        %p
          Alternatively, in the town of Cheltenham (15 min drive away) there are a
          = link_to 'number of other hotel options', 'https://letmegooglethat.com/?q=Cheltenham+hotels', target: '_blank'
          \.
      .column
        %h2 Taxis
        %p We recommend booking a taxi in advance if required.
        %p
          A2B Private Hire:
          = link_to '01242 580580', 'tel:01242 580580'
          %br
          Starline Taxis:
          = link_to '01242 250250', 'tel:01242 250250'
          %br
          Andy Cars:
          = link_to '0800 0121959', 'tel:0800 0121959'
        
.ui.yellow.inverted.very.padded.segment.full-height#rsvp
  .ui.container
    %h1 RSVP
    .ui.two.column.stackable.grid
      .column
        = form_tag 'https://usebasin.com/f/79a649fc7721', id: 'rsvp-form', method: 'post', class: 'ui form', remote: true do
          .field
            %input{name: 'name', placeholder: 'Name(s)', required: true}
          .field
            %input{name: 'email', placeholder: 'Email', required: true}
          .inline.fields
            .field
              .ui.radio.checkbox
                %input{type: 'radio', name: 'can_attend', value: 'true', required: true}
                %label Will attend
            .field
              .ui.radio.checkbox
                %input{type: 'radio', name: 'can_attend', value: 'false', required: true}
                %label Will not attend
          .field
            %textarea{name: 'dietary_requirements', placeholder: 'Message / Dietary Requirements', rows: 3, required: true}
          %button.ui.grey.button{type: 'submit'}
            RSVP
        #submit-message{style: 'display: none;'}
          %h1 We've received your RSVP - Thank you :)
          %p
            %span
              Any questions or concerns please email stuefee@gmail.com
          %p
            Why not
            = link_to 'request some music', '#music', data: { turbolinks: false }
      .column
        &nbsp;
  = image_tag 'champagne', id: 'champagne', class: 'ui bottom-aligned image'
.ui.white.very.padded.segment.full-height#music
  .ui.container
    %h1 Music
    .ui.two.column.stackable.grid
      .column
        %h2 Music Requests
        %p
          Let us know what songs will get you out on the dance floor!
        = form_tag 'https://usebasin.com/f/79a649fc7721', id: 'music-form', method: 'post', class: 'ui inverted form', remote: true do
          .field
            %textarea{name: 'music_request', placeholder: "Suggestions e.g. 'Everybody in Love' by JLS", rows: 3, required: true, style: 'background-color: #FCE300; border: none; resize: none;'}
          #music-submit-message{style: 'display: none; padding-bottom: 28px;'}
            %p
              %span
                Thanks for your request!
          %button.ui.grey.button{type: 'submit'}
            REQUEST
.ui.yellow.inverted.segment#footer
  .ui.container
    .ui.three.column.stackable.grid
      .column
        %p
          A WTF Production
      .column
        %audio#player{controls: true, loop: true, style: 'display: none'}
          %source{:src => "/everybody_in_love.mp3", :type => "audio/mpeg"}
      .column
        %p
          &copy; #{Date.current.year}
